.btn {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

.textfield {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
}
